<div class="container">

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4 text-center">
                <h4><strong>Site Haritası</strong></h4>
                <hr />
                <p>
                    <a href="/Home/About">
                        <span class="glyphicon glyphicon-info-sign"></span> Hakkımızda
                    </a><br />
                    <a href="/Home/MostLiked">
                        <span class="glyphicon glyphicon-star"></span> Son Begenilenler
                    </a><br />
                    <a href="/Home/Index">
                        <span class="glyphicon glyphicon-th-list"></span> Son Yazılar
                    </a><br />
                </p>
            </div>

            <div class="col-lg-4 text-center">
                <h4><strong>Makalemre.com</strong></h4>
                <hr />
                <p>Made By Emre Aktürk / @DateTime.Now.Year</p>
            </div>

            <div class="col-lg-4 text-center">
                <h4><strong>E-Bülten Üyeliği</strong></h4>
                <hr />
                <div class="col-md-10 col-md-offset-1">
                    
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="e-posta adresiniz">
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <span class="glyphicon glyphicon-send"></span> Gönder
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
